.menu-container {
    position: fixed;
    width: 100%;
    padding-top: 20px;
    transition: background-color 1s ease;
    z-index: 2;
    .menu-grid-container {
        max-width: 1170px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50% 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px;
        grid-gap: 10px;
        color: #FFFFFF;
        
         
        & div {
            align-items: center;
            display: flex;
        }

        .menu-item {
            font-family: "Lato", sans-serif;
            font-size: 13px;
            font-weight: 700;
        }
    }
}

.stickyMenu {
    background-color: #FFFFFF;
    .menu-grid-container {    
        color: rgb(35, 35, 35);
    }
}