
<div class="box-list">
  <div class="box">
    <h3 class="section-subtitle">Hi There! I'm <span class="identity"></span></h3>
    <p class="description">
      I started my career as a web integrator and I quickly loved my experience, since then, I learned new things.
      For me, it's not a job anymore ... it's a passion. It's with this curious and amusing spirit that I approach the different projects.
      I played different roles in my career: web integrator, java developer, AEM developer, Angular, I was Devops lead where i helped with the integration of ansible, dockers.
      Now i'm an Architect Designer. All these roles lead me where i'm now with deeper knowledge of web development and I feel that this is just the beginning of my journey ... :)
    </p>
    <div class="flex-box-container">
      <div class="flex-box"><a class="effect" href="mailto:iliesaithamouda@gmail.com"><i class="fas fa-envelope"></i> iliesaithamouda@gmail.com</a></div>
      <div class="flex-box"><a class="effect" href="tel:15144754146"><i class="fas fa-mobile-alt"></i> +1-514-475-4146</a></div>
    </div>
    <div class="flex-box-container grid-container-min-1-fr">  
      <a href="https://www.linkedin.com/in/iliesaithamouda" target="_blank">
        <div class="flex-box media-icons effect">
          <i class="fab fa-linkedin-in"></i>
        </div>
      </a>
      <a href="https://medium.com/@iliesaithamouda" target="_blank">
        <div class="flex-box media-icons effect">
          <i class="fab fa-medium"></i>
        </div>
      </a>
    </div>
    

  </div>
  <div class="box">
    <ng-template ngFor let-expertise [ngForOf]="expertises">
      <app-progressive-bar [title]="expertise.domain" [progress]="expertise.percentage"></app-progressive-bar>
    </ng-template>
  </div>
  
</div>
