.box-list {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    text-align: left;
    padding: 20px;
    .box {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
    
        .section-subtitle {
            color: #333;
            font-size: 26px;
        }
    
        .description {
            color: #484848;
            font-size: 16px;
            line-height: 26px;
        }
    
        .flex-box-container {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
            grid-row-gap: 20px;

            .flex-box {
                display: flex;
                flex-direction: column;
                justify-self: left;
            }

            & .justify-right {
                justify-content: right;
                justify-self: right;
            }

            .media-icons {
                font-size: 20px;
                border: 1px solid black;
                width: 38px;
                text-align: center;
                padding: 9px;
                border-radius: 24px;
                height: 38px;
            }

            a:hover { 
                .media-icons {
                    background-color: #484848;
                    color: #FFF !important;
                }
            }
        }

        .grid-container-min-1-fr {
            grid-template-columns: 1fr 1fr 6fr;//repeat(auto-fit,minmax(30px, 40px));
            margin-top: 20px;
        }

        
    }
}
  