<app-title title="experience"></app-title>
<div class="timeline">
  <div class="container left">
    <div class="content content-left">
      <h2>2014 - National Bank of Canada</h2>
      <p>i was so happy to finally start my career in the finance world</p>
    </div>
  </div>
  <div class="container right">
    <div class="content content-right">
      <h2>2013 - Vortex Solutions</h2>
      <p>what a pleasure to work with a young and energic team..</p>
    </div>
  </div>
  <div class="container left">
    <div class="content content-left">
      <h2>2013</h2>
      <h3>CEGEP graduation</h3>
      <p>I have finally completed my degree..</p>
    </div>
  </div>
  <div class="container right">
    <div class="content content-right">
      <h2>2012 - 24/7 Technologies</h2>
      <p>As an intern, i had to work on a project that allowed me to enhance my knoledge in so many fields</p>
    </div>
  </div>
  
</div> 
