<div class="contact-container">
    <div class="title-container">
      <h2>Contact me</h2>
    </div>
    <div class="grid-container contact-icons">
      <div class="box box-glue contact-form-container">
        <div class="circle-wrapper">
            <i class="fas fa-envelope"></i>
        </div>
        <div class="label-wrapper">Email</div>
        <div class="text-wrapper"><a class="effect" href="mailto:iliesaithamouda@gmail.com">iliesaithamouda@outlook.com</a></div>
      </div>
      <div class="box box-glue contact-form-container">
          <div class="circle-wrapper">
              <i class="fas fa-envelope"></i>
          </div>
          <div class="label-wrapper">Phone number</div>
          <div class="text-wrapper"><a class="effect" href="tel:15144754146">+1 514-475-4146</a></div>
      </div>
  
    </div>
    <div [formGroup]="contactForm" (ngSubmit)="submitForm()" class="form-group">
      <div class="grid-container contact-form">
        <div class="box contact-form-container">
          <input [ngClass]="{'error-input': contactF.name.errors?.required && contactF.name.dirty }" name="name" formControlName="name" type="text" placeholder="Name" />
          <div *ngIf="contactF.name.errors?.required && contactF.name.dirty" class="invalid-feedback">
              please enter a valid name.
          </div>
        </div>
        <div class="box contact-form-container">
          <input name="email" formControlName="email" type="text" placeholder="Email" [ngClass]="{'error-input': contactF.email.errors?.required && contactF.email.dirty }"/>
          <div *ngIf="contactF.email.errors?.required && contactF.email.dirty" class="invalid-feedback">
              please enter a valid email.
          </div>
        </div>
      </div>
      <div class="text-area-container">
        <textarea formControlName="message" name="message" placeholder="Message" [ngClass]="{'error-input': contactF.message.errors?.required && contactF.message.dirty }"></textarea>
        <div *ngIf="contactF.message.errors?.required && contactF.message.dirty" class="invalid-feedback">
            please enter a message.
        </div>
      </div>
      <div>
        <button class="button-lg" (click)="submitForm()" type="submit">Send Message</button>
      </div>
    </div>
</div>

