.menu-container {
    position: fixed;
    width: 100%;
    z-index: 2;
    .menu-grid-container {
        max-width: 1170px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, minmax(150px, 1fr)) repeat(6, minmax(80px, 1fr)); // 3fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px;
        grid-column-gap: 10px;
        color: #FFFFFF;
        --def: #96B7C4;
        
        & .menu-item-container {
            align-items: center;
            display: grid;
            justify-items: center;
            transition: all .4s cubic-bezier(0.77, 0, 0.175, 1);
            user-select: none;
            position: relative;
        }
        &.menu-item-container.menu-item-fixed:before {
            border: 1px solid #000;
        }  
        .menu-item-container:before, .menu-item-container:after {
            content: '';
            position: absolute;
            transition: inherit;
            z-index: -1;     
        }

        .menu-item-container:before {
            top: 0;
            left: 50%;
            height: 100%;
            width: 0;
        }

        .menu-item-container-selected, .menu-item-container:before {
            border-bottom: 2px solid red;
        }

        .menu-item-container:after {
            bottom: 0;
            left: 0;
            height: 0;
            width: 100%;
            // background: var(--inv);
        }

        .menu-item-container:not(.menu-item-container-selected):hover {
            color: var(--def);
            transition-delay: .3s;
        }

        .menu-item-container:not(.menu-item-container-selected):hover:before {
            transition-delay: 0s;
            left: 0;
            width: 100%;
        }

        .menu-item-container:not(.menu-item-container-selected):hover:after {
            // background: var(--inv);
            transition-delay: .4s;
            top: 0;
            height: 100%;
        }
        

        .logo-container {
            width: 100px;
            padding: 5px 10px;
            & img {
                width: inherit;
            }
        }
    }

    .menu-item {
        font-family: "Lato", sans-serif;
        font-size: 13px;
        font-weight: 700;
        cursor: pointer;
    }

    .menu-item-container:last-child {
        margin-right: 20px;
    }

    

    // desktop
    @media only screen and (min-width: 390px) {
        .ham-menu {
            display: none;
        }
        .menu-item-container {
            display: flex;
        }
        .menu-items-mobile {
            display: none;
        }
    }
}

// mobile and tablet
@media only screen and (max-width: 700px) {
    .menu-container {
        padding-top: 0px !important;
    
        .menu-grid-container {
            grid-template-columns: 3fr .5fr;
            justify-items: center;
            padding-left: 37px;
            .ham-menu {
                display: grid;
                align-items: center;
                justify-items: center;
                font-size: 30px;
                cursor: pointer;
            }
            .menu-item-container > span {
                display: none;
            }
            .logo-container {
                width: 100px;
            }
        }
        .menu-items-mobile {
            overflow: hidden;
            display: block;
            // border-top: 1px solid #f0f0f0;
            &.hidden {
                height: 0px;
                transition: .5s height ease-in-out;
            }
            &.block {
                height: 220px;
                transition: .5s height ease-in-out;
            }
        }

        .menu-item-container-mobile {
            padding: 10px 20px;
        }
    }
}