<div class="box-list">
  <div class="box">
    <h3 class="section-subtitle">Hi There! I'm Ilyes Ait Hamouda</h3>
    <p class="description">I'm a professional developer from Montréal, Canada. I create beautiful professional websites using best practice accessibility. I enjoy turning complex problems into simple, beautiful and intuitive interface designs. </p>
    <div class="flex-box-container">
      <div class="flex-box">Email : iliesaithamouda@gmail.com</div>
      <div class="flex-box">Location : H1E, Montréal, CA.</div>
      <div class="flex-box">Date of birth : 8 November 1988</div>
      <div class="flex-box">Phone : +1-514-475-4146</div>
    </div>
  </div>
  <div class="box">
      <h3 class="section-subtitle">Hi There! I'm Ilyes Ait Hamouda</h3>
      <p class="description">I'm a professional developer from Montréal, Canada. I create beautiful professional websites using best practice accessibility. I enjoy turning complex problems into simple, beautiful and intuitive interface designs. </p>
      <div class="flex-box-container">
        <div class="flex-box">Email : iliesaithamouda@gmail.com</div>
        <div class="flex-box">Location : H1E, Montréal, CA.</div>
        <div class="flex-box">Date of birth : 8 November 1988</div>
        <div class="flex-box">Phone : +1-514-475-4146</div>
      </div>
  </div>
  
</div>
