.posts-container {
    
    .grid-container {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        text-align: left;
        padding: 20px;
        
        .box {
            flex-direction: column;
            display: grid;
            grid-gap: 40px;
            grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
            @media only screen and (max-width: 700px) {
                justify-self: center;
                grid-template-columns: repeat(auto-fit, 300px);
            }
            .sub-box {
                display: flex;
                flex-direction: column;
                position: relative;
                align-items: center;
                justify-content: center;

                &.descr {
                    max-width: 300px;
                }
            }

            .title h3 {
                font-size: 17px;
                font-weight: 700;
                text-transform: uppercase;
                position: relative;
                padding-bottom: 15px;

                &::after {
                    content: '';
                    position: absolute;
                    background-color: rgb(51, 51, 51);
                    height: 1px;
                    left: 42%;
                    bottom: 0px;
                    width: 55px;
                    text-align: center;
                }
            }
            .image {
                width: 100%;
            }

            .tag {
                background-color: mistyrose;
                border-radius: 10px;
                padding: 2px 8px;
                margin: 3px 5px;
                float: left;
            }

            .external-link {
                margin-top: 20px;
                text-align: center;
            }
        }
    }
}