<div class="posts-container">
  <div class="title-container">
    <h2>{{data.title}}</h2>
  </div>
  <div *ngIf="response && response.length > 0" class="grid-container">
    <ng-template ngFor let-item [ngForOf]="response" let-i="index" let-c="count">
      <div class="box">
        <div class="sub-box">
          <div class="image">
            <img src="https://miro.medium.com/max/300/{{item.virtuals.previewImage.imageId}}"/>
          </div>
        </div>
        <div class="sub-box">
          <div class="title">
            <h3>{{ item.title }}</h3>
          </div>
          <div class="description">
            {{ item.content.subtitle }}
          </div>
          <div class="external-link">
            <a target='_blank' href="https://medium.com/@iliesaithamouda/{{item.id}}">read more...</a>
          </div>
        </div>
      </div>  
    </ng-template>
  </div>
</div>