<div class="quote-container">
  <div class="quote">
    <blockquote cite="https://en.wikipedia.org/wiki/Jack_of_all_trades,_master_of_none">
        <p>Jack of all trades, master of none, but oftentimes better than master of one</p>
        <footer>— Alternate version of Robert Greene, <cite>Greene's Groats-Worth of Wit</cite></footer>
    </blockquote>
  </div>

  <div class="embedded-video-cont">
    <div class="embedded-video">
        <iframe src="https://embed.ted.com/talks/emilie_wapnick_why_some_of_us_don_t_have_one_true_calling" 
        width="854" 
        height="480" 
        style="position:absolute;left:0;top:0;width:100%;height:100%" 
        frameborder="0" 
        scrolling="no" 
        allowfullscreen></iframe>
    </div>
  </div>
</div>