.profile-pic-container {
    img {
        width:170px;
        // border: 3px solid rgb(223, 223, 223);
        border-radius: 50%;
        -webkit-box-shadow: 0px -4px 21px 23px rgba(0,0,0,0.63);
-moz-box-shadow: 0px -4px 21px 23px rgba(0,0,0,0.63);
box-shadow: 0px -4px 21px 23px rgba(0,0,0,0.63);
    }
}

.introduction-container {
    h1 {
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        color: #FFFFFF;
    }

    .introduction-phrase {
        font-size: 26px;
        color: rgb(191, 191, 191);
        font-weight: 700;
    }
}