.introduction-container {
    text-transform: uppercase;
    width: 90vw;
    max-width: 1200px;
    .erase {
        text-decoration: line-through;
    }

    font-size: 4vw;
    line-height: 7vw;

    h2 {
        font-size: 2.5vw;
        font-weight: 700;
        color: #FFFFFF;
        white-space: pre-wrap;
        line-height: 2vw;
        margin: 0px;
    }

    .introduction-phrase {
        font-size: 1.3vw;
        line-height: 2vw;
        color: rgb(191, 191, 191);
        font-weight: 700;
        white-space: pre-wrap;
        
    }

    /*mobile*/
    @media only screen and (max-width: 760px) {
        font-size: 30px;
        line-height: 80px;
        h2 {
            font-size: 20px;
            line-height: 0px;
        }

        .introduction-phrase {
            font-size: 15px;
            line-height: 0px;
        }
    }
}